/* CSS declarations go here */
body{
font-family: 'Cinzel', serif;
}
.well
{
    max-height: 50%;
    margin-top: 5%;
    background: #ffffff;
    border: 1px solid #00b2ef;
    border-radius: 10px;
}
#sign-up
{
	margin-top:5%;
	max-height:50%;
}
.logo img
{
	margin-left: 40%;
	max-width: 50%;
	max-height: 50%;
}

.divideLogin hr:after
{
    content: 'or';
    display: inline-block;
    position: relative;
    font-size: 12px;
    padding: 0 10px;
    top: -14px;
    background: #ffffff;
    color: #8c8b8b;
}
.form-control{
	margin-top: 5%;
}
#left-pane .btn-default,.bottom-panel .btn-default
{
	background-color: #7f8181;
	color: #ffffff;
	border: 1px #040707;
	background-image: linear-gradient(to bottom, #7f8181, #7f8181, #7f8181);
}
#left-pane .btn-default,.bottom-panel .btn-default:hover
{
	background-color: #00b2ef;
	color: #ffffff;
	border: 1px #040707;
	background-image: linear-gradient(to bottom, #00b2ef, #00b2ef, #00b2ef);
}

#left-pane
{
border-right: 1px solid #616161;
height: 100%;
}


.bottom-panel #listenable-sign-up
{
	padding: 0;
	margin-top: 0;
}
#login
{
	max-height: 50%;
}

.btn-block/**/ {
    margin-top: 5px;
}


.btn-social {
    position: relative;
    padding-left: 44px;
    padding: 6px 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
}

.btn-block {
    display: block;
    width: 100%;
}
/*
.btn {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}*/

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    float: left;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



#new-user
{
	float: right;
}
